body {
  background-image: url("himawari.jpg");
}
body { background-size: 1500px;}
img {
    width: 300px;
}

#page {
    max-width: 900px;
    margin: 0 auto 0 auto;
    background: white;
    padding: 30px;
}