body {
  background-image: url("himawari.jpg");
}
body { background-size: 1500px;}
img {
    width: 300px;
}

p { font-size: large; }

#below {
    max-width: 300px;
    margin: 9 auto 0 auto;
    background: white;
    padding: 20px;
}

.top-section {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    margin: 0 0 25px 0;
}

p {
    font-size: 150%;
    line-height: 1.5;
}

